# Python
__pycache__/
*.py[cod]
*.db
*.bak

# Environment files
.env
*.env

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Zip files
*.zip

# Python virtual environments
venv/
.venv/

# Uploads (optional)
backend/uploads/